# Rename to .env

# Put your local user password here. Needed to automate any commands with `sudo` when executing .sh scripts
password='yourpassword'

SCHEME='http'

# `ipconfig getifaddr en0` in terminal shell for Mac users to get appropriate IP
MITMPROXY_HOST='192.168.1.70'
MITMPROXY_PORT='8081'

# Optional
MITMPROXY_CER='~/.mitmproxy/mitmproxy-ca-cert.cer'
MITMPROXY_PEM='~/path/to/mitmproxy-ca-cert.pem'
CHROMEDRIVER_ABS_PATH='/absolute/path/to/chromedriver'